*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:#F8FAFC;
    padding:20px;
}

.container{
    width:90%;
    max-width:1300px;
    margin:30px auto;
    background:#FFFFFF;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 15px 40px rgba(0,0,0,0.15);
    transition:0.4s ease;
}

.container:hover{
    transform:translateY(-8px);
    box-shadow:0 25px 50px rgba(0,0,0,0.25);
}

.header{
    background:linear-gradient(#0F172A,#1E3A8A),
    url("background.jpg");

    background-size:cover;
    background-position:center;

    height:320px;

    display:flex;
    align-items:center;
    gap:30px;

    padding:30px 50px;
}

.foto{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid white;
    box-shadow:0 10px 25px rgba(0,0,0,.35);
}

.header-text{
    color:white;
}

.header-text h1{
    font-size:45px;
    margin-bottom:10px;
}

.header-text h2{
    font-size:28px;
    margin:5px 0;
}

.content{
    display:flex;
}

.sidebar{
    width:30%;
    background:#1E40AF;
    color:white;
    padding:25px;
}

.sidebar h3{
    margin-top:15px;
    margin-bottom:10px;
    border-bottom:2px solid white;
    padding-bottom:5px;
}

.sidebar ul{
    padding-left:20px;
}

.sidebar li{
    margin:8px 0;
}

 .sidebar li a{
    display:block;
    padding:12px 15px;
    color:white;
    text-decoration:none;
    border-radius:8px;
    transition:0.3s;
}

.sidebar li a:hover{
    background:#3B82F6;
    transform:translateX(8px);
}

.main{
    width:70%;
    padding:35px;
    background:#FFFFFF;
}

.main h1{
    color:#1D4ED8;
    font-size:40px;
    font-weight:bold;
    margin-bottom:25px;
}

.main p{
    color:#475569;
    font-size:18px;
    line-height:2;
    text-align:justify;
    margin-bottom:20px;
}

footer{
    background:#0F172A;
    color:#F8FAFC;;
    text-align:center;
    padding:20px;
    font-size:28px;
    font-weight:bold;
}

@media(max-width:768px){

    .header{
        flex-direction:column;
        height:auto;
        text-align:center;
    }

    .content{
        flex-direction:column;
    }

    .sidebar,
    .main{
        width:100%;
    }

    .header-text h1{
        font-size:30px;
    }

    .header-text h2{
        font-size:20px;
    }
}